@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Restora";
  src: url("/fonts/Restora/Restora.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Restora";
  src: url("/fonts/Restora/RestoraBold.ttf");
  font-style: bold;
  font-display: swap;
}
@font-face {
  font-family: "Restora";
  src: url("/fonts/Restora/RestoraExtraLight.ttf");
  font-style: light;
  font-display: swap;
}

/* FONTS */

@layer base {
  h1, h2, h3, h4, h5 {
    @apply font-serif;
  }
}

/* COLORS */

:root {
  --accent-color:#F0CA5E;
  --secondary-color: #d17846;
  --darkgray-color: #4D4D4D;
  --semi-black: #313131;
  --offwhite-color: #FEFDFD;
  --beige-color: rgba(228, 213, 206, 0.35);
}

.accent-color {
  color: var(--accent-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.darkgray {
  color:var(--darkgray-color);
}

.semi-black {
  color: var(--semi-black);
}

.offwhite {
  color: var(--offwhite-color);
} 

.beige {
  background-color: var(--beige-color);
}

/* BUTTONS */

.primary-button, .primary-button a {
	background-color: var(--accent-color);
	color:var(--darkgray-color);
}

.secondary-button, .secondary-button a {
  background-color: var(--secondary-color);
	color: var(--offwhite-color);
}

/* OTHERS */

.extra-small {
  font-size: 0.50rem;
}
